@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Home/_MainLayout.cshtml";
}

<br />
<br />
<address>
    Cahit Can ÖZGEN<br />
    Ondokuz Mayıs Üniversitesi-Bilgisayar Programcılığı<br />
</address>

<address>
    <strong></strong>   <a href="https://github.com/cahitcanozgenn">Github</a><br />
    <strong></strong> <a href="https://tr.linkedin.com/in/cahit-can-%C3%B6zgen-07ab241b6">LinkedIn</a>
</address>